.task {
    position: relative;
}
.status_task {
    position: absolute;
    top: 23%;
    right: 1.5%;
    border-radius: 50%;
    background-color: #48a130;
    color:white;
    padding: 4px 0 6px;
    width: 25px;
    height: 25px;
    text-align: center;
    align-items: center;
}
.card-proyect {
    padding-top:14px;
    padding-left: 15px;
    padding-right: 15px;
    color:blue;
}
.title_task span{
    margin-left:8px;
    margin-top:3px;
    font-size: 8pt;
    color:lightgray;
}
.dataShort_task {
    margin-top:3px;
}

.title_task {
    flex-wrap: nowrap;
    white-space: nowrap;
    font-size: 11pt;
}

.dataShort_task{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    flex-wrap: wrap-reverse;
    width: 100%;
    padding-right: 15px;
    padding-left: 10px;
}

.descShort_task {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 99%;
    font-size: 9pt;
}

.cards_task {
    font-size: 10pt;
}

/*-------RESPONSIVE------*/
@media (max-width: 1000px) {
    .title_task{
        font-size: 10pt;
    }
    .dataShort_task {
        font-size: 10pt;
    }
}