<div class="d-flex justify-content-between">
  <div>Hoy | Mias</div>
  <div><app-filters></app-filters></div>
</div>

<mat-accordion>

   <!---TASK---->
  <mat-expansion-panel hideToggle class="task">

    <mat-expansion-panel-header>

      <mat-panel-title class="title_task">
        Realiza un diseño a partir del link que te voy a enviar
        <span class="d-none d-sm-block">Lunes 11</span>
        <span class="badge bg-info text-white d-none d-md-block">1</span>
        <span class="badge bg-success text-white d-none d-md-block">5</span>
      </mat-panel-title>

      <mat-panel-description class="d-none d-md-flex me-4 align-items-center justify-content-end dataShort_task text-end">
        <div class="d-none d-lg-block descShort_task">
          Se trata de un diseño de una página web de un nuevo proyecto que estamos realizando que necesito que lo diseñes igual que en el link
        </div>
        <div></div>
        <div class="text-end cards_task">
          Cindy | Nuevo proyecto | <span class="text-warning">Normal</span>
        </div>
        
      </mat-panel-description>

        <div class="status_task">
          <i class="fa-solid fa-check"></i>
        </div>

      

    </mat-expansion-panel-header>

    <mat-divider></mat-divider><br>
    <p>Se trata de un diseño de una página web de un nuevo proyecto que estamos realizando que necesito que lo diseñes igual que en el link</p>
    <p>Url: <a href="/">gesecconsultora.mx</a></p>
    <mat-divider></mat-divider> <br>

    <div class="text-secondary row">

      <div class="col-12 col-md-6">
          <p>Fecha: Viernes 08 de Abril 2022</p>
          <p>Asignado: Cindy</p>
          <p>Notas: <a type="button" class="text-info" data-bs-toggle="offcanvas" data-bs-target="#notes" style="text-decoration: none;color:inherit;">2 notas</a> </p>
      </div>
      <div class="col-12 col-md-6 text-start text-md-end">
          <p>Proyecto: Multiherramientas</p>
          <p>Urgencia: <span class="text-danger">Urgente</span></p>
          <p><a type="button" class="text-success" data-bs-toggle="modal" data-bs-target="#archivos" style="text-decoration: none;color:inherit;">2 Archivos/imagenes</a></p>
      </div>

    </div>

  </mat-expansion-panel>
  <!--END TASK-->

<!---TASK---->
<mat-expansion-panel hideToggle class="task">

  <mat-expansion-panel-header>

    <mat-panel-title class="title_task">
      Actualizar la base de datos 
      <span class="d-none d-sm-block">Viernes 08</span>
      <span class="badge bg-info text-white d-none d-md-block">2</span>
      <span class="badge bg-success text-white d-none d-md-block">2</span>
    </mat-panel-title>

    <mat-panel-description class="d-none d-md-flex me-4 align-items-center justify-content-end dataShort_task text-end">
      <div class="d-none d-lg-block descShort_task">
        Actualizar la base de datos de multiherramientas revisando los productos
      </div>
      <div></div>
      <div class="cards_task">
        Cindy | Multiherramientas | <strong class="text-danger">Urgente</strong>
      </div>
      
    </mat-panel-description>

      <div class="status_task">
        <i class="fa-solid fa-check"></i>
      </div>

    

  </mat-expansion-panel-header>

  <mat-divider></mat-divider><br>
  <p>Actualizar la base de datos de multiherramientas revisando los productos</p>
  <p>Url: <a href="/">multiherramientas.mx</a></p>
  <mat-divider></mat-divider> <br>

  <div class="text-secondary row">

    <div class="col-12 col-md-6">
        <p>Fecha: Viernes 08 de Abril 2022</p>
        <p>Asignado: Cindy</p>
        <p>Notas: <a type="button" class="text-info" data-bs-toggle="offcanvas" data-bs-target="#notas1" style="text-decoration: none;color:inherit;">2 notas</a> </p>
    </div>
    <div class="col-12 col-md-6 text-start text-md-end">
        <p>Proyecto: Multiherramientas</p>
        <p>Urgencia: <span class="text-danger">Urgente</span></p>
        <p><a type="button" class="text-success" data-bs-toggle="modal" data-bs-target="#archivos2" style="text-decoration: none;color:inherit;">2 Archivos/imagenes</a></p>
    </div>

  </div>

</mat-expansion-panel>
<!--END TASK-->

  </mat-accordion>
  <br><br>

  <div class="d-flex justify-content-between mb-3">
    <div>Todo</div>
    <div></div>
  </div>

  <!---TASK---->
<mat-expansion-panel hideToggle class="task">

  <mat-expansion-panel-header>

    <mat-panel-title class="title_task">
      Actualizar la base de datos 
      <span class="d-none d-sm-block">Viernes 08</span>
      <span class="badge bg-info text-white d-none d-md-block">2</span>
      <span class="badge bg-success text-white d-none d-md-block">2</span>
    </mat-panel-title>

    <mat-panel-description class="d-none d-md-flex me-4 align-items-center justify-content-end dataShort_task text-end">
      <div class="d-none d-lg-block descShort_task">
        Actualizar la base de datos de multiherramientas revisando los productos
      </div>
      <div></div>
      <div class="cards_task">
        Cindy | Multiherramientas | <strong class="text-danger">Urgente</strong>
      </div>
      
    </mat-panel-description>

      <div class="status_task">
        <i class="fa-solid fa-check"></i>
      </div>

    

  </mat-expansion-panel-header>

  <mat-divider></mat-divider><br>
  <p>Actualizar la base de datos de multiherramientas revisando los productos</p>
  <p>Url: <a href="/">multiherramientas.mx</a></p>
  <mat-divider></mat-divider> <br>

  <div class="text-secondary row">

    <div class="col-12 col-md-6">
        <p>Fecha: Viernes 08 de Abril 2022</p>
        <p>Asignado: Cindy</p>
        <p>Notas: <a type="button" class="text-info" data-bs-toggle="offcanvas" data-bs-target="#notas3" style="text-decoration: none;color:inherit;">2 notas</a> </p>
    </div>
    <div class="col-12 col-md-6 text-start text-md-end">
        <p>Proyecto: Multiherramientas</p>
        <p>Urgencia: <span class="text-danger">Urgente</span></p>
        <p><a type="button" class="text-success" data-bs-toggle="modal" data-bs-target="#archivos3" style="text-decoration: none;color:inherit;">2 Archivos/imagenes</a></p>
    </div>

  </div>

</mat-expansion-panel>
<!--END TASK-->
