<div class="modal fade" id="archivos">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

        <div class="modal-header">
            <h4 class="modal-title">Actualizar base de datos: Archivos</h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>

        <div class="modal-body text-center">
            <div>
                <img src="../../assets/img/profile.jpg" alt="img1" class="w-100 mb-1">
                <img src="../../assets/img/profile.jpg" alt="img1" class="w-100 mb-1">
                <img src="../../assets/img/profile.jpg" alt="img1" class="w-100 mb-1">
            </div>
            
        </div>

        </div>
    </div>
</div>

