<div class="chatbox-container">
    <h3>Mini chat</h3>
    <div class="chat">  
        <div class="text-center sendMsgChat">
            <button class="btn btn-light btn-sm mb-2 mt-1 btnSendMsgChat" data-bs-toggle="collapse" data-bs-target="#newMsg">Agrega un mensaje</button>
            <div id="newMsg" class="collapse">
                <form class="mt-2">
                    <textarea class="form-control mb-1" rows="2" id="msgChat" name="text" placeholder="Di algo..."></textarea>

                    <div class="d-flex">
                        <input class="form-control mb-2 me-1" type="text" name="urlChat" id="urlChat" placeholder="Url">
                        <input class="form-control mb-2" type="text" name="urlChat" id="urlChat" placeholder="Task">
                    </div>
            
                    <button type="submit" class="btn btn-primary btn-sm">Responder</button>
                </form>
            </div>
        </div>

        <hr>

        <div class="chat-container mb-2">
            <div class="chat-card card">
                <div class="d-flex justify-content-between w-100 p-2">
                    <div class="text-primary"> <b>Ariadna</b> </div>
                    <div class="text-secondary" style="font-size: 8pt;">Hace 2 días</div>
                </div>
                <hr class="m-0 w-100">
                <div class="p-2">
                    Hola a todos! aaaaaaa los quiero mucho saludos
                    <br>
                    <div class="d-flex">
                        <a href="/" class="me-2">
                            <i class="fa-solid fa-tag text-primary pe-1"></i>Task#3
                        </a>
                        <a href="/" class="me-2">Click aquí</a> 
                    </div>
                </div>
            </div>
        </div>

        <div class="chat-container">
            <div class="chat-card card">
                <div class="d-flex justify-content-between w-100 p-2">
                    <div class="text-primary"> <b>Cindy</b> </div>
                    <div class="text-secondary" style="font-size: 8pt;">Hace 1 día</div>
                </div>
                <hr class="m-0 w-100">
                <div class="p-2">
                    Gracias! tkm oye te comento que un cliente nos pidió un reporte para el miercoles cuando nos organizamos? :D
                    <br>
                </div>
            </div>
        </div>
        <br><br>
        
    </div>
</div>
