
<div>
    <div class="btnQuickTask">
        <input type="text" class="form-control mb-2" placeholder="Titulo de la tarea" name="taskfast">
        <button class="btn btn-primary w-100">Crear tarea rápida</button>
        <br><br><br>
        <input type="text" class="form-control mb-2" placeholder="Titulo del proyecto" name="proyectfast">
        <button class="btn btn-success w-100">Crear proyecto</button>
        <br><br><br>
        <input type="text" class="form-control mb-2" placeholder="Nombre de la persona" name="proyectfast">
        <button class="btn btn-secondary w-100">Agregar persona</button>
    </div>

    <hr class="mt-4 mb-1">

    <app-chat></app-chat>
</div>
